
  
  html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
  }
  
  body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 0.8;
    color: #918ca4;
  }
/* Navigation Bar */
@media screen and (min-width:800px)  {
  

.nav {
    background: #000;
    display: flex;
    padding: 0 1rem;
    align-items: center;

  }
.logo{
      width:90px;
      height:90px;
  }
  
  .list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 1.6rem;
    opacity: 1;
  }
  
  .nav__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #222;
    list-style: none;
    padding-right: 3rem;
  }
  
  .nav__item > a {
    color: #d2d0db;
    transition: color 0.3s;
    text-decoration: none;

  }
  
  .nav__item > a:hover {
    color: #fff;
  }
  
    .nav__item {
      border: 0;
    }
    .checkbtn{
      display: none;
    }
    #toggle{
      display: none;
    }
  }
  @media  screen and (max-width:800px) {
    .nav{
      display:flex;
      justify-content: space-between;
      background-color: black;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
    }
    img{
    width:100px;
    height:100px;
    }
    .checkbtn{
      color:white;
      opacity: 0.5;
      cursor: pointer;
      padding: 0.5rem 0.8rem 0 0;
    
    }
    .list{
      width: 100%;
    }
    .nav__item{
      padding:0.7rem 2rem;
      font-size: 2.5rem;
      margin: 0;
      text-align: center;
    }
    .nav__item>a{
      color:#d2d0db;
      text-decoration: none;
      transition: color 0.3s;
    }
    .nav__item>a:hover{
      color:#fff;
    }
    .nav {
      margin-bottom: 1em;
    
    }
    
    .nav > input[type="checkbox"]:checked ~ .list {
      padding: 15px;
      border-top: 0;
      display:none;
    }
    #toggle{
      display:none;
    }
    
  }
  /*body-main part*/
  .block--dark{
    background-color: #000;
  }
 .header__main{
   background-color: #000;
   height:100vh;
   text-align: left;
    align-self: center;

 }
 .main__image{
   width: auto;
   height: 100vh;
 }
 .contain__heading{
   padding-left: 1rem;
   color:#faf8f5;
   font-size: 4rem;
 }
 .contain__second__heading{
   color:#faf8f5 ;
   font-size: 2rem;
   padding-left: 5rem;
   margin-top: 2rem;
 }
 .contain{
   font-size: 1.4rem;
   color: #b9c3cf;
   padding-left: 5.5rem;
   letter-spacing: 0.8px;
   margin-bottom: 7rem;
 }


 .btn__main{
  border-radius: 40px;
  border: 1px solid #ff3400;
  background-color: #ff3400;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  color:#b9c3cf;
  margin-left: 2.5rem;
 }
 .btn__main:hover{
   background-color: #ec3000;
 }
 .block--skewed-left{
  clip-path: polygon(0 0, 100% 0%, 100% 92%, 0% 100%);
 }
 
.grid{
  display:grid;
}
@media screen and (min-width:800px) {
  .grid--cols-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media  screen and (max-width: 800px) {
  .main__image{
    width: 100%;
  }
  
}
/*domain block*/
.search{
  border:1px solid #ccc;
  border-radius: 40px;
  display:flex;
  height:6rem;

}
.search__domain{
  border:0;
border-radius: 40px;
outline: 0;
flex-grow: 1;
padding-left: 3rem;
height:5rem;
}
.btn__search{
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: #ff3400;
  cursor: pointer;
  width: 10rem;
}
.btn__second:hover{
  background-color: #ec3000;
}
i{
  margin: 1.2rem 1rem;
}
 .domain__heading{
   text-align: center;
   font-size: 3rem;
 }
 .domain__contain{
   text-align: center;
   font-size: 2rem;
 }
 /*new section*/
 .image__madhab{
   height: 100vh;
   width:100%;
   object-fit: cover;
   margin-top: 2rem;
   border-radius: 50rem;
 }
 .discribe{
   padding-top: 3rem;
   color: #171108;
   line-height: 4rem;
   margin-top: 2rem;
text-align: center;
 }
.discribe::first-letter{
  font-size: 7rem;
  font-weight: 600;
}
/*footer*/
.footer{
  background-color: #232323;
}
 ul li{
  text-decoration: none;
}
.accordion > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .content {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible;
}

.accordion label {
  display: block;
}

/*
 Styling
*/
}
.accordion {
  margin-bottom: 1em;

}

.accordion > input[type="checkbox"]:checked ~ .content {
  padding: 15px;
  border-top: 0;
}

.accordion .handle {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.2em;
}

.accordion label {
  color: #b9c3cf;
  cursor: pointer;
  font-weight: normal;
  padding: 15px;
  background: #232323;
}

.accordion label:hover,
.accordion label:focus {
  background: #d8d8d8;
}

.accordion .handle label:before {
  font-family: 'fontawesome';
  content: "\f054";
  display: inline-block;
  margin-right: 10px;
  font-size: .58em;
  line-height: 1.556em;
  vertical-align: middle;
}

.accordion > input[type="checkbox"]:checked ~ .handle label:before {
  content: "\f078";
}
.footer__logo{
  margin-top: 5rem;
  text-align: center;
}
.footer__copyright{
  font-size: 1.7rem;
  padding-bottom: 4rem;
  color: #fff;
  opacity: 0.3;
  
}
.footerimg{
  width: 150px;
  height: 150px;
}
.footer__heading{
  font-size: 2rem;
  }
  .footer__content{
    text-decoration: none;
    margin: 2rem 4rem 1rem 0rem;
    font-size: 1.6rem;
  }
@media screen and (min-width:800px) {
  .footer{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
  }
  .accordion .content {
    display:block;
    height:100%;
    opacity: 1;
    border: 0;

  }
  .footer__logo{
    order:-1;
  }
}