.modules{
    align-items: center;
    background-image: url(background.jpg);
  }
  header{
    text-align: center;
    font-size: 40px;
    color: #000;
    font-weight: bold;
  }
  .container {
    position: relative;
    width: 70%;
    margin-left: 10rem;
  }
  
  .image1 {
    display: block;
    width: 100%;
    height: auto;
  }
  .image2 {
    display: block;
    width: 100%;
    height: auto;
  }
  .image3 {
    display: block;
    width: 100%;
    height: auto;
  }
  .image4 {
    display: block;
    width: 100%;
    height: auto;
  }
  .image5 {
    display: block;
    width: 100%;
    height: auto;
  }
  .image6 {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 0.8;
  }
  
  .text {
    color: #000;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
    .btn{
      border-radius: 20px;
      border: 1px solid #ff3400;
      background-color: #ff3400;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 600;
      margin: 3rem 0;
      outline: 0;
      padding: 0.7rem 4rem;
      text-align: center;
      text-transform: uppercase;
      white-space: nowrap;
      text-decoration: none;
      color:#b9c3cf;
      margin-left: 2.5rem;
     }
     .btn:hover{
       background-color: #ec3000;
  }