.sitereport{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:1rem;
    background-color: #aaa;
}
header{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
h1{
    font-size: 20px;
}
img{
    width: 50%;
    height: auto;

}
div{
    display: flex;
}